#gateway services
gateway/node_modules
gateway/dist
gateway/.env
gateway/.vscode
gateway/coverage
gateway/build
gateway/.cache
gateway/logs
gateway/.eslintrc*
gateway/.prettier*
gateway/.prettiercache
#gateway services

#user services
users/node_modules
users/dist
users/.env
users/.vscode
users/build
users/logs
users/.eslintrc*
users/.prettier*
#users services

#listing services
listing/node_modules
listing/dist
listing/.env
listing/.vscode
listing/coverage
listing/build
listing/.cache
listing/logs
listing/.eslintrc*
listing/.prettier*
listing/.prettiercache
#listing services

#chat_vinted services
chat_vinted/node_modules
chat_vinted/dist
chat_vinted/.env
chat_vinted/.vscode
chat_vinted/coverage
chat_vinted/build
chat_vinted/.cache
chat_vinted/logs
chat_vinted/.eslintrc*
chat_vinted/.prettier*
chat_vinted/.prettiercache
#chat_vinted services


user_data
gateway_data
n8n_data

.env
