#gateway services
gateway/node_modules
gateway/dist
gateway/.env
gateway/.vscode
gateway/coverage
gateway/build
gateway/.cache
gateway/logs
gateway/.eslintrc*
gateway/.prettier*
gateway/.prettiercache
#gateway services

#user services
users/node_modules
users/dist
users/.env
users/.vscode
users/build
users/logs
users/.eslintrc*
users/.prettier*
#users services


.env
